	<h2>Welcome to Metro Cars For Sale</h2>
  	<p>We offer up a list of used cars for sale as listed in the following local dealerships</p>
    
    <p>Today is: {{date}}</p>      
    
  	<div class="row"> <!-- using the Bootstrap grid system to limit the-->
    <div class="col-md-6"> <!-- table width to half a page-->
          
          <table class="table table-bordered table-striped">
          	<tr>
             	<th>Dealer</th>
              	<th>Address</th>
              	<th>Phone</th>
          	</tr>
          	<tr> <td>Joe Smith Cars & Trucks</td><td>123 Automall Rd.</td><td>555-2345</td></tr>
            <tr> <td>Sue Green Motorworld</td><td>1888 South St.</td><td>555-2345</td></tr>
			<tr> <td>Dave Jones Chrysler</td><td>30301 Boook Rd.</td><td>555-3456</td></tr>
			<tr> <td>Kim Ivanov Quality Cars</td><td>4334 Yanovich Blvd.</td><td>555-4567</td></tr>
			<tr> <td>Max Johnson Chevrolet</td><td>55221 Johnsonville Rd.</td><td>555-4321</td></tr>
			<tr> <td>Linda Silver VDub</td><td>5491 Main Ave.</td><td>555-5432</td></tr>
			<tr> <td>Stu Mar Autorama</td><td>14 Baker Blvd.</td><td>555-6543</td></tr>
			<tr> <td>Moe Hernandez Motors</td><td>92917 Stacy Rd.</td><td>555-3251</td></tr>
     	</table>
        
        <p>All dealerships offer:
        	<ol class='class="list-group"'>
        		<li class="list-group-item">Frendly Service</li>
            	<li class="list-group-item">On-lot Financing</li>
           	 	<li class="list-group-item">Extended Warrenties</li>
       		</ol>
        </p>
        
 	</div>  <!-- end class = 'row' - -->
 	</div>  <!-- end class = 'row' - -->
         
        

